h1 {
  text-align: center;
  color: aqua;
  padding: 50px;
  box-shadow: 20px;
  font-weight: bolder;
}

.container {
  text-align: center;
  color: #d5ecc2;
}

button {
  display: block;
  margin: auto;
  bottom: auto;
  position: static;
  right: 10px;
  background-color: coral;
}
button:hover {
  color: cornflowerblue;
  background-color: darkblue;
}
body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

form {
  margin: 20px;
  text-align: center;
  position: relative;
  right: -500px;
}

h2 {
  text-decoration: underline;
  color: black;
}

h3 {
  text-align: center;
}

p {
  text-decoration: underline;
  color: #7051c0;
}
